{
  "presets": [
    ["latest", {
      "es2015": { "modules": false }
    }],
    "stage-2"
  ],
  "plugins": [
    "transform-runtime",
    "transform-vue-jsx",
    "syntax-async-functions",
    "transform-async-to-generator",
    "transform-async-to-module-method"
  ],
  "comments": false,
  "env": {
    "test": {
      "presets": ["latest", "stage-2"],
      "plugins": [ "istanbul" ]
    }
  }
}
