$white: #ffffff;
$black: #000000;
$transparent-white: rgba(255,255,255, 0.5);
$transparent-black: rgba(0, 0, 0, 0.41);
$dark-grey: #23282a;
$charcoal-grey: #333b3e;
$charcoal-grey-two: #475054;
$charcoal-grey-three: #3c4549;
$charcoal-grey-five: #455054;
$charcoal-grey-six: #3b464a;
$steel-young-grey: rgba(123, 130, 131, 0.5);
$steel-young-grey2: rgba(123, 130, 131, 0.2);
$normal-sky-blue: #4a90e2;
$gunmetal: #505c60;
$gunmetal-three: #4f5354;
$dark: #171d1f;
$dark-two: #171c1e;
$charcoal-semi-dark: #2b3235;
$gunmetal-two: #575e60;
$pastel-red: #dc5a5a;
$orange: #F9690E;
$green: #26A65B;
$stone: #414141;
$warm-grey: #979797;
$warm-grey-ten: #888888;
$windows-blue: #3778c3;
$dusk-blue: #275892;
$prop-bg: #1c2123;
$prop-bg-margin: #15181a;
$prop-bg-border: #101213;
$prop-bg-padding: #0c0e0f;
$charcoal-grey-four: #404a4e;
$warm-grey-nine: #9f9f9f;
$fefefe: #fefefe;
$switcher-bg: #646A6C;
$steel-grey: #73868c;
