$assets_path: "../../../../assets";
@import "animate/animate.scss";
@import "colors.scss";
@import "mixins.scss";

.add-block {
    background: url('#{$assets_path}/img/plus-section-top.svg') no-repeat 50% 50%;
    width: 17px;
    height: 22px;
    display: inline-block;
    text-align: center;
    padding: 5px 10px;
    position: relative;
    pointer-events: all;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
	z-index: 10;

    &:hover {
        color: $normal-sky-blue;
        opacity: 0.8;
    }

    &.top {
        background-image: url('#{$assets_path}/img/plus-section-down.svg');
        bottom: -30px;
        top: initial;

        &.body {
            background-image: url('#{$assets_path}/img/plus-section-top.svg');
            bottom: initial;
            top: 20px;
        }
    }
}

.canvas-block {
	height: 0;
	overflow: hidden;
	position: absolute;
	left: 0;
	width: 100%;
	pointer-events: none;
	transition: height 0.4s cubic-bezier(.81,.77,0,1);
    z-index: 998;

	&-wrapper {
		position: absolute;
		top: 0;
		width: 100%;
	    pointer-events: all;
	    background-color: $dark-grey;
		padding: 20px;
	    z-index: 989;
		pointer-events: none;
	}

	&.active {
		height: 175px;

		.canvas-block-wrapper {
			pointer-events: all;
		}
	}

	ul {
		text-align: center;
		padding: 0;
		margin: 0;
	}

	li {
		display: inline;
		margin: 0 5px;

		a {
			padding: 5px 0;
			text-decoration: none;
			color: $white;

			&:hover, &.selected {
				border-bottom: 2px solid $normal-sky-blue;
			}
		}
	}
}

.block-items {
    @include flex;
    justify-content: center;
    padding: 30px 0 20px;
    .block-item {
        border: 2px solid $white;
        margin: 0 5px;
        width: 100px;
        height: 70px;
        background-size: 100%;

        &:hover {
            border-color: $normal-sky-blue;
        }

        &.section {
            background-image: url('#{$assets_path}/img/section.svg');
        }

        &.container {
            background-image: url('#{$assets_path}/img/section-container.svg');
        }
    }
}
