.button {
    line-height: 0;
    border-radius: 1px;
    border-top: 1px solid rgba(74,143,226,0.18);
    background-color: $windows-blue;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    box-shadow: inset 1px 1px 0px 0px rgba(74,143,226,0.18), 1px 2px 0 0 rgba(41, 41, 41, 0.5);
    cursor: default;
    border: none;
    border-top: 1px solid rgba(243, 243, 243, 0.18);
    font-weight: bold;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;

    &:hover {
        background-color: $dusk-blue;
        text-decoration: none;
    }

    &:active, &.active {
        background-color: $dark;
        border-top: 1px solid $dark;
        box-shadow: inset 1px 1px 0px 0px rgba(37, 37, 37, 0.18), 1px 1px 0 0 rgba(64, 64, 64, 0.5);
    }
}
