$assets_path: "../../assets";

@import "mixins.scss";

.input {
	&-align {
		&-right {
			text-align: right
		}
	}
	&-label {
		color: $white;
		font-size: 11px;
		display: block;
		&-inline {
			display: inline;
		}
	}
	&-text {
		color: $white;
		background-color: $dark-grey;
		outline: none;
		border: none;
		padding: 5px;
		box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	    -webkit-box-sizing: border-box;
	    -khtml-box-sizing: border-box;
		&.full {
			width: 100%;
		}
	}

	&-checkbox {
		&:not(:checked),
		&:checked {
			position: absolute;
			left: -9999px;
		}

		&:not(:checked) + label,
		&:checked + label {
			position: relative;
			cursor: pointer;
		}

		/* checkbox aspect */
		&:not(:checked) + label:before,
		&:checked + label:before {
			content: ' ';
			width: 10px;
			height: 10px;
			border: 1px solid $greyish-normal;
			border-radius: 1px;
			margin-right: 5px;
			display: inline-block;
			vertical-align: bottom;
		}
		/* checked mark aspect */
		&:not(:checked) + label:after,
		&:checked + label:after {
			content: '\2714';
			position: absolute;
			top: 0;
			left: 3px;
			font-size: 8px;
			color: $white;
		}

		/* checked mark aspect changes */
		&:not(:checked) + label:after {
			opacity: 0;
			transform: scale(0);
		}
		&:checked + label:after {
			opacity: 1;
			transform: scale(1);
		}
		/* disabled checkbox */
		&:disabled:not(:checked) + label:before,
		&:disabled:checked + label:before {
			box-shadow: none;
			border-color: #bbb;
			background-color: #ddd;
		}
		&:disabled:checked + label:after {
			color: #999;
		}
		&:disabled + label {
			color: #aaa;
		}
	}

	&-space {
		&-bottom {
			margin-bottom: 10px;
		}
	}

	&-number {
	    margin-bottom: 5px;
		display: inline-block;

	    label {
	        font-size: 11px;
	        color: $white;
	        margin-right: 10px;
	        width: 28px;
	        display: inline-block;
	    }

	    .input-number-wrapper {
	        background-color: rgba(0, 0, 0, 0.41);
	        position: relative;
	        padding: 1px 25px 2px 5px;
	        &.focus {
	            box-shadow: 0 0px 2px 1px $normal-sky-blue
	        }
	    }

	    .input-number-wrapper, input {
	        display: inline-block;
	    }

	    .unit-toggler {
	        position: absolute;
	        top: 1px;
	        right: 12px;
	        width: 15px;
	        > a {
	            font-size: 10px;
	            color: $white;
	            padding: 2px;
	            margin: 4px 0;
	            line-height: 10px;
	            border-radius: 2px;
	            display: block;
	            text-align: center;
	            text-decoration: none;
	            position: relative;
	            &:hover, &.select-unit {
	                background: $charcoal-grey;
	            }
	            &.select-unit {
	                border-bottom-left-radius: 0;
	                border-bottom-right-radius: 0;
	                padding-bottom: 5px;
	                z-index: 999;
	            }
	        }
	    }

	    .unit-select {
	        width: 35px;
	        top: 20px;
	        right: 0;
	        font-size: 11px;
	        background: $charcoal-grey;
	        padding: 2px 0;
	        position: absolute;
	        text-align: center;
	        border-radius: 2px;
	        border-top-right-radius: 0;
	        z-index: 998;
	        box-shadow: 0 0 2px 1px rgba(0,0,0,0.5);
	        text-align: center;
	        a {
	            display: block;
	            font-size: 11px;
	            line-height: 10px;
	            border-bottom: 1px solid #313131;
	            padding: 2px 5px 4px;
	            color: $white;
	            text-decoration: none;
	            &:hover {
	                background-color: #646A6C;
	            }
	            &:last-child {
	                border-bottom: none;
	            }
	        }
	    }

	    input {
	        width: 30px;
	        background: none;
	        outline: none;
	        border: none;
	        color: $white;
	    }

	    .increase, .decrease {
	        position: absolute;
	        font-size: 11px;
	        color: rgba(255, 255, 255, 0.7);
			cursor: url('#{$assets_path}/cursor/up-down.cur') 12 12, row-resize !important;
	    }

	    .increase {
	        top: 3px;
	        right: 5px;
	    }

	    .decrease {
	        bottom: 1px;
	        right: 5px;
	    }

	    &.disabled {
	        input, a, a:before {
	            color: #545454;
	        }
	    }
	}
}

.multiselect {
	min-height: auto !important;
	&.no-events {
		@include no-pointer-events;
	}
}

.multiselect_ {

	&_tags {
		border: none !important;
		background: $transparent-black !important;
		border-radius: 0 !important;
		padding: 1px !important;
		min-height: auto !important;
	},

	&_select {
		width: 15px !important;
		height: 25px !important;
		cursor: default !important;
		z-index: 10;
		padding: 0 2px 0 0 !important;
		&:before {
			border-width: 4px 4px 0 !important;
			border-color: $white transparent transparent !important;
			top: 62% !important;
		}
	}

	&_input:focus {
		box-shadow: 0 0px 2px 1px $normal-sky-blue;
	}

	&_input, &_single {
		background: none !important;
		border-radius: 0 !important;
		margin: 0 !important;
		font-size: 11px !important;
		color: $white;
	}

	&_single {
	    margin: 0;
	    padding: 0 0 0 4px !important;
		cursor: default !important;
	}

	&_content {
		border: none !important;
		background: $black !important;
		li {
			font-size: 11px;
			color: $white;
		}
	}

	&_option {
		padding: 5px !important;
		min-height: auto !important;
		cursor: default !important;
		&--highlight, &--selected {
			background: darken($charcoal-semi-dark, 5) !important;
		}
		&--selected {
			color: $white !important;
		}
	}
}
