@mixin flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}

@mixin stickleft ($bgcolor, $z-index) {
    background-color: $bgcolor;
    z-index: $z-index;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 100vh;
}

@mixin user-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

@mixin grab {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}

@mixin grabbing {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
}
