@mixin OpenSans {
  font-family: 'Open Sans', arial, sans-serif;
  text-rendering: optimizeLegibility;
}

@mixin Lato {
  font-family: 'Lato', arial, sans-serif;
  text-rendering: optimizeLegibility;
}

@mixin PreventSelect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin ResizeVertical {
  cursor: url("#{$assets_path}/cursor/resize-vertical.cur") 12 12, ns-resize !important;
}

/**
 * Grabbing cursor
 */
@mixin grabbing {
    cursor: -webkit-grabbing !important;
    cursor: -moz-grabbing !important;
    cursor: grabbing !important;
}

@mixin ForceFill {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
