.block-wrapper {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	text-align: center;
	pointer-events: none;
	z-index: 998;

	&.child {
		/*top: -30px;*/
	}

	&.first {
		/*top: inherit;
		bottom: -30px;*/

		.block-panel-wrapper {
			position: absolute;
			top: 30px;
			width: 100%;
		}
	}

	.add-block {
		display: inline-block;
		text-align: center;
		padding: 5px 20px;
		color: @greyish-normal;
		cursor: default;
		font-size: 17px;
		background-color: @transparent-white;
		position: relative;
		pointer-events: all;

		i {
			pointer-events: visible;
		}
	}

	&.active {
		z-index: 999;
	}

	.block-panel-wrapper {
		pointer-events: all;
		overflow: hidden;
	}
}

.block-panel {
	background-color: @dark-grey;
	padding: 20px;
	position: relative;
	height: 100%;

	ul {
		text-align: center;
		padding: 0;
		margin: 0;
	}

	li {
		display: inline;
		margin: 0 5px;

		a {
			padding: 5px 0;
			text-decoration: none;
			color: @white;

			&:hover, &.selected {
				border-bottom: 2px solid @normal-sky-blue;
			}
		}
	}

	.content {
		.flex;
		justify-content: center;
		padding: 30px 0 20px;
		.block-item {
			border: 2px solid @white;
			margin: 0 5px;

			&:hover {
				border-color: @normal-sky-blue;
			}

			&.section {
				width: 100px;
				height: 70px;
				background-size: 100%;
				
				&.only {
					background-image: url('../img/section.svg');
				}

				&.with-container {
					background-image: url('../img/section-container.svg');
				}
			}
		}
	}
}