@white: #ffffff;
@transparent-white: rgba(255,255,255, 0.5);
@dark-grey: #23282a;
@charcoal-grey: #333b3e;
@steel-young-grey: rgba(123, 130, 131, 0.5);
@greyish-normal: #b6b6b6;
@charcoal-grey-two: #475054;
@normal-sky-blue: #4a90e2;
@gunmetal: #505c60;
@dark: #171d1f;
@charcoal-semi-dark: #2b3235;
@gunmetal-two: #575e60;
@pastel-red: #dc5a5a;
@stone: #414141;