body {
	position: absolute;
	width: 100%;
	height: 99%;
	&.overflow-hidden {
		overflow: hidden;
	}
}

#app {
	color: @bluegray;
	height: 100%;
	overflow: hidden;
	&:after {
		content: ' ';
		clear: both;
		width: 100%;
		display: block;
	}
}

#responsive-switcher {
	position: absolute;
	bottom: 50px;
	right: 20px;
	padding: 5px 10px;
	background: #E4E4E4;
	border-radius: 5px;
	z-index: 999;
	a {
		font-size: 20px;
		vertical-align: middle;
		padding: 5px 10px;
		color: #c0c0c0;
		&.mini {
			font-size: 14px
		}
		&.selected {
			color: #3498db
		}
	}
}

#layout-wrapper {
	float: none;
	overflow: hidden;
	overflow-y: auto;
	width: auto;
	height: 100%;
	padding: 20px 0;
	position: relative
}

#menu {
	overflow: auto;
	border: 1px solid #ddd;
	border-left: 1px solid #c7c7c7;
	background: #F9F9F9;
	width: 450px;
	float: right;
	height: 100%;
}

#menu-tab {
	.uk-active {
		a {
			background-color: #F9F9F9;
			color: #516167;
			&:hover {
				background: #F9F9F9;
				color: #516167;
			}
		}
	}

	a {
		padding: 15px 5px;
		background: #D6D9DC;
		color: #93989A;
		margin: 0;
		border: none;
		font-size: 12px;
		font-weight: bold;
		&:hover {
			background: #c0c5c9;
			color: #505659;
		}
	}
}

#layout {
	padding: 10px 10px 50px;
	min-height: 200px;
	height: auto;
	position: relative;
}

#tab {
	.uk-scrollable-box;
	border: none;
	height: 92%;
}

.tab-content {
	padding: 5px
}

.draggable {
	height: auto;
	&:hover {
		cursor: move;
		cursor: grab;
		cursor: -moz-grab;
		cursor: -webkit-grab;
	}

	&.moving {
		cursor: grabbing !important;
		cursor: -moz-grabbing !important;
		cursor: -webkit-grabbing !important;
		width: 300px;
		z-index: 9999;
		position: relative;
		opacity: 0.65;

		&.item {
			width: 120px
		}
	}

	&.item .content {
		border: 1px solid #cccccc;
		&:hover {
			box-shadow: 0 5px 12px 3px rgba(0, 0, 0, 0.2);
			border: none
		}
	}
}

.layout-item {
	position: relative;
	&:before {
		content: ' ';
		position: absolute;
		z-index: 0;
		width: 100%;
		height: 100%;
	}
	&.selected:after, &:hover:after {
		content: ' ';
		position: absolute;
		z-index: 9999;
		width: 100%;
		top: 0;
		left: 0;
		background: rgba(51, 153, 255, 0.09);
		height: 100%;
	}
	.layout-wrap {
		overflow: hidden;
		position: relative;
	}
	.layout-row {
		overflow: hidden;
		position: relative;
		z-index: 1;
	}
	.sortable-handler {
		display: none;
	}
	&.selected .sortable-handler, &:not(.normal):hover > .layout-row .sortable-handler {
		display: block;
	}
	.layout-label {
		position: absolute;
		bottom: -22px;
		right: -2px;
		background: #3498db;
		padding: 1px 15px;
		font-size: 11px;
		color: #ffffff;
		display: none
	}
	.layout-tool {
		display: none;
		position: absolute;
		top: 5px;
		right: 5px;
		z-index: 999;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
		a {
			padding: 10px;
			color: #ffffff;
			background: #3498db;
			float: left;
			&.delete:hover {
				background: #c0392b
			}
			&.copy:hover {
				background: #2980b9
			}
		}
	}
	&:hover {
		z-index: 999;
		> .layout-label {
			display: inline-block
		}
	}
	&.selected {
		.layout-tool {
			display: inline-block;
		}

		&:hover {
			z-index: 999;
			> .layout-label {
				display: none
			}
		}
	}

	.layout-column {
		position: relative
	}
}
div.inspectable {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	outline: 2px solid white;
	pointer-events:none;
	* {
		pointer-events:all;
	}
	&.selected, &.sorting, &:hover {
		outline: 2px solid #3498db
	}
	&.selected {
		z-index: 10
	}
	&:hover {
		z-index: 11
	}
}

#properties-view {
	height: 100%;
	overflow: auto;
	background-color: #F1F1F1;
}

.prop-tab.uk-tab {
	padding-left: 5px;

	&.first {
		background: white;
	}

	&.second {
		background: #ededed;
		.uk-active {
			background: #e0e0e0
		}
	}

	&.third {
		background: #e0e0e0;
		.uk-active {
			background: #d5d5d5
		}
	}

	&.fourth {
		background: #d5d5d5;
		.uk-active {
			background: #c9c9c9
		}
	}

	&.uk-tab-grid:before {
		border: none;
	}
	li {
		width: auto;
		float: none;
		display: inline-block;
		font-size: 11px; 
		&.uk-disabled {
			margin-right: 3px;
			margin-left: 5px;
			text-transform: uppercase;
			font-weight: bold;
		}
		&.uk-active {
			border-top: 2px solid @peterriver;
			background: #F1F1F1;
			> a {
				padding: 10px 7px;
			}
		}
	}
	> li > a {
		color: black;
		background: none;
		padding: 10px 3px;
		font-size: 12px;
		margin: 0;
		border: none;
		background: none
	}
}

.properties-wrapper {
	font-size: 12px;
	padding-bottom: 40px;
	.tab-content {
		padding: 20px 10px;
	}

	label.block {
		&:after {
			content: ' ';
			display: block;
		}
		&.br:after {
			margin-bottom: 5px;
		}
	}
	&.second {
		background-color: #e0e0e0;
		.properties {
			border-top-color: #E6E6E6;
    		border-bottom-color: #D0D0D0;
		}
	}
	&.third {
		background-color: #d5d5d5;
		.properties {
		    border-top-color: #DEDEDE;
			border-bottom-color: #C3C3C3;
		}
	}
	&.fourth {
		background-color: #c9c9c9;
		.properties {
			border-top-color: #D4D4D4;
			border-bottom-color: #aeaeae
		}
	}
}

.properties {
	padding: 10px 0;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #dfdfdf;
	&:first-child {
		border-top: none
	}
	&:last-child {
		border-bottom: none
	}
	&:after {
		content: ' ';
		display: block;
		clear: both;
	}

	.uk-grid + .uk-grid {
		margin-top: 5px;
	}
	&.attribute {
		input[type="text"] {
			padding: 3px;
			width: 50%;
		}
		textarea {
			border: 1px solid #cccccc
		}
	}
}